@{
    ViewData["Title"] = "New Android Release";
}

<form>
    <div class="mb-3">
        <label for="applicationAPK" class="form-label">Application APK</label>
        <input class="form-control" type="file" id="applicationAPK">
    </div>
</form>