@{
    ViewData["Title"] = "New MacOS Release";
}

<h1>Upload new MacOS Application Release</h1>
<form>
    <div class="mb-3">
        <label for="macosVersionIdentifier" class="form-label">Version identifier</label>
        <input type="email" class="form-control" id="macosVersionIdentifier" placeholder="v1.0.0">
    </div>
    <div class="mb-3">
        <label for="macosReleaseNotes" class="form-label">Release notes</label>
        <textarea class="form-control" id="macosReleaseNotes" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="macosMinSupportedVersion" class="form-label">Minimum Supported OS Version</label>
        <input type="email" class="form-control" id="macosMinSupportedVersion">
    </div>
    <button type="submit" class="btn btn-primary mb-3">Create MacOS Release</button>
</form>