@{
    ViewData["Title"] = "New Windows Release";
}

<div class="card">
    <div class="card-header">
        ARM64
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="arm64_exe" class="form-label">ARM64 Program</label>
                <input class="form-control" type="file" id="arm64_exe">
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        AMD64 (x86-64)
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="amd64_exe" class="form-label">AMD64 Program</label>
                <input class="form-control" type="file" id="amd64_exe">
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        x86 (32-bit)
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="x86_exe" class="form-label">x86 Program</label>
                <input class="form-control" type="file" id="x86_exe">
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        ARM (32-bit)
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="arm_exe" class="form-label">ARM Program</label>
                <input class="form-control" type="file" id="arm_exe">
            </div>
        </form>
    </div>
</div>